<%- include("header",{title:"career",hClass:"",css:["style.css","career.css"]}) %>
<div class="career">
    <div class="container">
        <div class="cont1">
            <div class="center">
                <h2>원장약력</h2> 
                <h3>원장</h2>
                <h1>이승곤</h1>
                <p>- 아시아 심장 전문의</p>
                <p>- 수의학 박사 (심장학 전공)</p>
                <p>- 미국 노스캐롤라이나 주립대 수의사 면허</p>
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <div class="degree_left">
                    <h2>학위</h2>
                    <p>Diplomate of AiCVIM</p>
                    <p>(cardiology),아시아 심장전문의</p>
                </div>
                <div class="degree_right">
                    <p>-미국 노스캐롤라이나 수의과대학 심장센터 수의사 겸 연구원</p>
                    <p>-수의 내과학 박사 (full time, 심장학 전공)</p>
                    <p>-수의 내과학 석사 (full time, 심장학 전공)</p>
                </div>
                <div class="degree_left">
                    <h2>면허</h2>
                </div>
                <div class="degree_right">
                    <p>- 2017 아시아 심장 전문의 자격 취득 (DAiCVIM)</p>
                    <p>-2012-2013 미국 노스캐롤라이나 수의과대학 수의사 면허 취득 (Faculty license: FC 53483)</p>
                    <p>-2004 수의사 면허 (면허번호: 11862)</p>
                </div>
                <div class="degree_left">
                    <h2>근무경력</h2>
                </div>
                <div class="degree_right">
                    <p>-서울동물심장병원 원장 2016.08 - 현재</p>
                    <p>-강남 H 동물병원 2013 - 2016</p>
                    <p>-미국 노스캐롤라이나 수의과대학 심장센터 수의사 겸 연구원
                        (Small animal cardiology service, department of clinical science, North Carolina State University, North Carolina State, United States) 2012-2013</p>
                    <p>심장학 컨설턴트 Veterinary Consultation System ㅡ(www.vcs.or.kr), Seoul, Korea: Case-Consultation for Korean veterinarians.</p>
                    <p>수의내과학 강사(이론, 실습) (Small animal internal medicine, Chonnam National University, South Korea) 2004.03-2005.03</p>
                </div>
                <div class="degree_left">
                    <h2>학술논문</h2>
                </div>
                <div class="degree_right">
                    <p> 국내외 약 50여편의 논문 발표</p>
                </div>
                <div class="degree_left">
                    <h2>수상</h2>
                </div>
                <div class="degree_right">
                    <p>-병원 내과 진료의 (Department of Veterinary Internal Medicine, Chunnam National Animal Hospital, South Korea) | 2004.03-2005.03</p>
                    <p>-우수 발표자상 : Annual Conference, the Korean Society of Veterinary clinics, South Korea | 2008.08</p>
                    <p>-우수 연구자상 : Kangwon National University, South Korea | 2009.08</p>
                </div>
                <div class="degree_left">
                    <h2>국내 주요 수의사 협회 저널 정기 기고</h2>
                </div>
                <div class="degree_right">
                    <p>-대한수의사회지, 이달의 심전도학 정기 기고</p>
                    <p>-한국동물병원협회지, 이달의 심장학 정기 기고</p>
                </div>
            </div>
        </div>
        <div class="cont3">
            <div class="c3_title">
                <h1>수의사 대상 임상 강의</h1> 
            </div>
            <div class="c3_text">
                <div class="center">
                    <div class="text_left">
                        <p><i class="fa-solid fa-circle-check"></i></p>
                        <p>2007-10-04</p>
                    </div>
                    <div class="text_right">
                        <p>Small animal cardiology : The Annual Conference ofKorea Animal Hospital Association; continual education;</p>
                        <p>Daegoo, South Korea</p>
                    </div>
                </div>
                <div class="center">
                    <div class="text_left">
                        <p><i class="fa-solid fa-circle-check"></i></p>
                        <p>2007-10-19</p>
                    </div>
                    <div class="text_right">
                        <p>Small animal dermatology; The annual conference of Kangwon veterinary association; continual education;</p>
                        <p>Pyeungchang, South Korea</p>
                    </div>
                </div>
                <div class="center">
                    <div class="text_left">
                        <p><i class="fa-solid fa-circle-check"></i></p>
                        <p>2008-04-13</p>
                    </div>
                    <div class="text_right">
                        <p>Small animal nephrology; The Annual Conference of Korea Animal Hospital Association; continual education;</p>
                        <p>Seoul, South Korea</p>
                    </div>
                </div>
                <div class="center">
                    <div class="text_left">
                        <p><i class="fa-solid fa-circle-check"></i></p>
                        <p>2009-04-25</p>
                    </div>
                    <div class="text_right">
                        <p>common arrhythmias in small animal practice; The Annual Conference of Korea Animal Hospital Association;</p>
                        <p>continual education; Daejeoun, South Korea</p>
                    </div>
                </div>
                <div class="center">
                    <div class="text_left">
                        <p><i class="fa-solid fa-circle-check"></i></p>
                        <p>2013-11-18</p>
                    </div>
                    <div class="text_right">
                        <p>Hypertrophic cardiomyopathy; The annual conference of small animal cardiology continual education;</p>
                        <p>Seoul, South Korea</p>
                    </div>
                </div>
                <div class="center">
                    <div class="text_left">
                        <p><i class="fa-solid fa-circle-check"></i></p>
                        <p>2014-10-14</p>
                    </div>
                    <div class="text_right">
                        <p>Echocardiography; The annual conference of small animal cardiology;Continuing education (advanced</p>
                        <p>level); Seoul, South Korea</p>
                    </div>
                </div>
                <div class="center">
                    <div class="text_left">
                        <p><i class="fa-solid fa-circle-check"></i></p>
                        <p>2013-11-18</p>
                    </div>
                    <div class="text_right">
                        <p>Hypertrophic cardiomyopathy; The annual conference of small animal cardiology continual education;</p>
                        <p>Seoul, South Korea</p>
                    </div>
                </div>
                <div class="center">
                    <div class="text_left">
                        <p><i class="fa-solid fa-circle-check"></i></p>
                        <p>2014-10-14 ~</p>
                    </div>
                    <div class="text_right">
                        <p>그 외 다수</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("footer") %>