<div id="footer">
    <div class="center">
        <div class="fTop">
            <ul class="fNotice">
                <li><a href="#">개인정보 처리방침</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">행정정보공개</a></li>
                <li><a href="#">클린신고센터</a></li>
            </ul>
            <div class="fSite">
                <ul class="fSns">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fas fa-comment-dots"></i></a></li>
                </ul>
                <div class="familySite">
                    <select>
                        <option value="">사이트 모음<span><i class="fas fa-chevron-up"></i></span></option>
                        <option value="sscampus">위치1</option>
                        <option value="ecampus">위치2</option>
                        <option value="cultureC">위치3</option>
                    </select>
                </div>               

            </div>

        </div>
        <div class="fBot">
            <div class="fLogo">
                <a href="#"><img src="/img/logo.png"></a>
            </div>
            <div class="fInfo">
                <p>동물병원 (12345) 경기도 고양시 일산서구 고양대로 707-77 / 대표전화 031-123-4567</p>
                <p>사업자번호 000-0000-0000 / 대표이사 홍길동</p>
                <p>ⓒ2017 by 서울동물심장병원. Proudly created with URBAN</p>
            </div>
        </div>
    </div>
</div>
