<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seoul animal heart hospital</title>
    <!-- 웹폰트 / 웹폰트아이콘 -->
</head>
<body>
    <%- include("header",{title:"Main",hClass:"",css:["style.css","m_style.css"]}) %>
    <div id="container">
        <div id="visual">
            <div class="center">
            <!-- Slider main container -->
            <div class="swiper visual">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="swiperText">
                            <h3>서울동물심장병원</h3>
                            <h2>리셉션</h2>
                        </div>
                        <div class="swiperImg">
                            <img src="/img/hospital1.jpg">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiperText">
                            <h3>서울동물심장병원</h3>
                            <h2>보호자<br/>대기실</h2>
                        </div>
                        <div class="swiperImg">
                            <img src="/img/hospital2.jpg">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiperText">
                            <h3>서울동물심장병원</h3>
                            <h2>진료실</h2>
                        </div>
                        <div class="swiperImg">
                            <img src="/img/hospital3.jpg">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiperText">
                            <h3>서울동물심장병원</h3>
                            <h2>처치실</h2>
                        </div>
                        <div class="swiperImg">
                            <img src="/img/hospital4.jpg">
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination visual-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></i></div>
            </div>
            </div>
        </div>
        <div id="monthly">
            <span class="main bg1"></span>
            <div class="monthlyTop">
                <h2>장비안내</h2>
            </div>
            <div class="monthlyBot">
                <!-- Slider main container -->
                <div class="swiper monthly">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="monthlyImg">
                                <img src="/img/equipment1.jpg">
                                <div class="monthlyBg">
                                    <div class="cate">블라블라</div>
                                    <div class="subject">GE Digital ECG</div>
                                    <div class="writer"><span>블라블라</div>
                                </div>
                            </div>
                            <div class="monthlyText">
                                <h5><span>GE Digital ECG</span></h5>
                                <h6><span>블라블라</span>블라블라<span>블라블라</span>블라블라</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="monthlyImg">
                                <img src="/img/equipment2.jpg">
                                <div class="monthlyBg">
                                    <div class="cate">블라블라</div>
                                    <div class="subject">GE VIVID E95</div>
                                    <div class="writer"><span>블라블라</span>블라블라</div>
                                </div>
                            </div>
                            <div class="monthlyText">
                                <h5><span>GE VIVID E95</span></h5>
                                <h6><span>블라블라</span></h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="monthlyImg">
                                <img src="/img/equipment3.jpg">
                                <div class="monthlyBg">
                                    <div class="cate">블라블라</div>
                                    <div class="subject">IDEXX procyte CBC</div>
                                    <div class="writer"></div>
                                </div>
                            </div>
                            <div class="monthlyText">
                                <h5><span>IDEXX procyte CBC</span></h5>
                                <h6><span>블라블라</span> 블라블라</h6>
                            </div>
                        </div>
                        <div class="swiper-slide" >
                            <div class="monthlyImg">
                                <img src="/img/equipment4.jpg">
                                <div class="monthlyBg">
                                    <div class="cate">블라블라</div>
                                    <div class="subject">드래거 마취기</div>
                                    <div class="writer"><span>블라블라</span> 블라블라</div>
                                </div>
                            </div>
                            <div class="monthlyText">
                                <h5><span>드래거 마취기</span></h5>
                                <h6><span>블라블라</span>블라블라</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="monthlyImg">
                                <img src="/img/equipment5.jpg">
                                <div class="monthlyBg">
                                    <div class="cate">블라블라</div>
                                    <div class="subject">48시간 홀터 모니터</br>SPACE LAB</div>
                                    <div class="writer"><span>블라블라</span>블라블라</div>
                                </div>
                            </div>
                            <div class="monthlyText">
                                <h5><span>48시간 홀터 모니터 SPACE LAB</span></h5>
                                <h6><span>블라블라</span>블라블라</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="monthlyImg">
                                <img src="/img/equipment6.jpg">
                                <div class="monthlyBg">
                                    <div class="cate">블라블라</div>
                                    <div class="subject">디지털 투시 방사선</div>
                                    <div class="writer"><span>블라블라</span>블라블라</div>
                                </div>
                            </div>
                            <div class="monthlyText">
                                <h5><span>디지털 투시 방사선</span></h5>
                                <h6><span>블라블라</span>블라블라</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="monthlyImg">
                                <img src="/img/equipment7.jpg">
                                <div class="monthlyBg">
                                    <div class="cate">블라블라</div>
                                    <div class="subject">자동 약 분주기</div>
                                    <div class="writer"><span>블라블라</span>블라블라</div>
                                </div>
                            </div>
                            <div class="monthlyText">
                                <h5><span>자동 약 분주기</span></h5>
                                <h6><span>블라블라</span>블라블라</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="monthlyImg">
                                <img src="/img/equipment8.jpg">
                                <div class="monthlyBg">
                                    <div class="cate">블라블라</div>
                                    <div class="subject">필립스 제세동기</div>
                                    <div class="writer"><span>블라블라</span>블라블라<span>블라블라</span>블라블라</div>
                                </div>
                            </div>
                            <div class="monthlyText">
                                <h5><span>필립스 제세동기</span></h5>
                                <h6><span>블라블라</span>블라블라<span>블라블라</span>블라블라</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="space">
            <span class="main bg2"></span>
            <div class="center">
                <div class="spaceTop">
                  <h2>블라블라<br/>블라블라</h2>
                  <h4>블라블라블라블라블라블라블라블라블라블라</h4>  
                </div>
                <div class="spaceBot">
                    <div class="spaceWrap">
                        <ul class="spaceInfo">
                            <li data-index="0" class="on"><a href="#">블라블라블라블라블라블라</a></li>
                            <li data-index="1"><a href="#">블라블라블라블라</a></li>
                        </ul>
                        <ul class="spaceInfo">
                            <li data-index="2"><a href="#">블라블라블라블라블라블라</a></li>
                            <li data-index="3"><a href="#">블라블라블라블라블라블라블라블라</a></li>
                        </ul>
                        <ul class="spaceInfo">
                            <li data-index="4"><a href="#">블라블라</a></li>
                            <li data-index="5"><a href="#">블라블라블라블라</a></li>
                            <li data-index="6"><a href="#">블라블라블라블라블라블라</a></li>
                        </ul>
                        <ul class="spaceInfo">
                            <li data-index="7"><a href="#">블라블라</a></li>
                            <li data-index="8"><a href="#">블라블라</a></li>
                            <li data-index="9"><a href="#">블라블라</a></li>
                        </ul>
                    </div>
                    <div class="spacePic">
                        <div><img src="/img/hospital1.jpg"></div>
                        <div><img src="/img/hospital2.jpg"></div>
                        <div><img src="/img/hospital3.jpg"></div>
                        <div><img src="/img/hospital4.jpg"></div>
                        <div><img src="/img/hospital1.jpg"></div>
                        <div><img src="/img/hospital2.jpg"></div>
                        <div><img src="/img/hospital3.jpg"></div>
                        <div><img src="/img/hospital4.jpg"></div>
                        <div><img src="/img/hospital1.jpg"></div>
                        <div><img src="/img/hospital2.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="place">
            <span class="main bg3"></span>
            <div class="center">
                <div class="placeTop">
                    <h2>찾아오시는 길</h2>
                </div>
                <div class="placeWrap">
                    <div class="placeImg">
                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.053461135835!2d127.03826871175393!3d37.506657227442204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca408082e7cd5%3A0x971a9b3103cabad5!2z7ISc7Jq464-Z66y87Ius7J6l67OR7JuQ!5e0!3m2!1sko!2skr!4v1687915140002!5m2!1sko!2skr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div id="sns">
            <span class="main bg4"></span>
            <div class="center">
                <div class="snsTop">
                    <h2>동물병원 SNS</h2>
                    <h4>동물친구들과 친구를 맺고<br/>다양한 소식을 만나보세요.</h4>
                </div>
                <div class="snsTab">
                    <ul>
                        <li class="on" data-filter="*"><a href="#">전체</a></li>
                        <li data-filter=".youtube"><a href="#">유투브</a></li>
                        <li data-filter=".insta"><a href="#">인스타그램</a></li>
                        <li data-filter=".fBook"><a href="#">페이스북</a></li>
                    </ul>
                </div>
                <div class="snsBot">
                    <div class="thumBox all insta">
                        <a href="#">
                            <img src="img/hospital1.jpg">
                            <div class="snsBg">
                                <i class="fab fa-instagram"></i>
                            </div>                            
                        </a>
                    </div>
                    <div class="thumBox all insta">
                        <a href="#">
                            <img src="img/hospital2.jpg">
                            <div class="snsBg">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </a>    
                    </div>
                    <div class="thumBox all fBook">
                        <a href="#">
                            <img src="img/hospital3.jpg">
                            <div class="snsBg">
                                <i class="fab fa-facebook"></i>
                            </div>
                        </a>    
                    </div>
                    <div class="thumBox all youtube">
                        <a href="#">
                            <img src="img/hospital4.jpg">
                            <div class="snsBg">
                                <i class="fab fa-youtube"></i>
                            </div>
                        </a>    
                    </div>
                    <div class="thumBox all insta">
                        <a href="#">
                            <img src="img/hospital1.jpg">
                            <div class="snsBg">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </a>    
                    </div>
                    <div class="thumBox all fBook">
                        <a href="#">
                            <img src="img/hospital2.jpg">
                            <div class="snsBg">
                                <i class="fab fa-facebook"></i>
                            </div>
                        </a>    
                    </div>
                    <div class="thumBox all youtube">
                        <a href="#">
                            <img src="img/hospital3.jpg">
                            <div class="snsBg">
                                <i class="fab fa-youtube"></i>
                            </div>
                        </a>    
                    </div>
                    <div class="thumBox all insta">
                        <a href="#">
                            <img src="img/hospital4.jpg">
                            <div class="snsBg">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </a>    
                    </div>
                </div>
            </div>
        </div>
        <div id="news">
            <span class="main bg5"></span>
            <div class="center">
                <div class="newsTop">
                    <h2>새로운 소식</h2>
                    <a href="#">MORE</a>
                </div>
                <div class="newsBot">
                    <div class="newsBox">
                        <a href="#">
                            <p class="newsCate">공지</p>
                            <h3>블라블라</h3>
                            <p class="content">블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라</p>
                            <p class="date">2023.06.08</p>
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                    <div class="newsBox">
                        <a href="#">
                            <p class="newsCate">공지</p>
                            <h3>블라블라 블라블라 블라블라 블라블라 블라블라</h3>
                            <p class="content">블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라</p>
                            <p class="date">2021. 10. 22</p>
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                    <div class="newsBox">
                        <a href="#">
                            <p class="newsCate">공지</p>
                            <h3>블라블라블라블라블라블라블라블라블라블라블라블라</h3>
                            <p class="content">블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라</p>
                            <p class="date">2023. 06. 08</p>
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>
    
    <!-- script관련 파일 -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/header.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/space_sns.js"></script>
    <script src="js/hamMenu.js"></script>    
</body>
</html>