
<link rel="stylesheet" href="/style/login.css">

<div id="login_space">
    <form id="login_form" action="/logincheck" method="post">
        <div class="login_text">
            <h2>LOGIN</h2>
            <input type="text" name="memberid" placeholder="아이디를 입력해주세요">
            <input type="password" name="memberpass" placeholder="비밀번호를 입력해주세요">
        </div>
        <div class="go">
            <button type="submit">로그인</button>
            <a href="/join">회원가입 페이지</a>
        </div>
    </form>
</div>
<script src="js/login.js"></script>