<%- include("header",{title:"medical_department",hClass:"",css:["style.css","m_style.css","medical_department.css"]}) %>
<div class="department_area">
    <div class="title">
        <h1>진료과목</h1>
    </div>
    <div class="department">
        <div class="dpt_center">
            <div class="dpt1">
                <div class="dpt_title">
                    <h2>아시아 심장 전문의</h2>
                </div>
                <div class="dpt_text">
                    <p>지금까지 하루 진료 환자 기준 약 35,000 - 40,000 건의 심장병 환자를 보고 있습니다. 
                    수의 심장학으로 박사, 해외 포닥, (노스캐롤라이나 동물심장센터), 아시아 심장 전문의, 
                    세계최고 권위 Journal of veterinary internal medicine 논문 심사위원 으로서 
                    전문 지식과 경험을 바탕으로 심장병 진료를 합니다.
                    </p>
                </div>
            </div>
            <div class="dpt1">
                <div class="dpt_title">
                    <h2>신장부전 환자 관리</h2>
                </div>
                <div class="dpt_text">
                    <p>심장병이 있는 노령견에서 가장 흔한 것은 신부전입니다. 심부전과 신부전은 매우 밀접한 관련성을 가지기에 심장 전문가의 관점에서신장을 관리하는 것이 중요합니다.</p>
                </div>
            </div>
            <div class="dpt1">
                <div class="dpt_title">
                    <h2>심장 중재술 수술</h2>
                </div>
                <div class="dpt_text">
                    <p>부정맥 제세동술, 동맥관 개존증, 폐동맥 협착증, 페이스메이커 장착 등 각종 심장병 수술에 대한 많은 경험 으로치료 성공률이 높고 부작용이 적은 안전한 진료를 합니다.</p>
                </div>
            </div>
            <div class="dpt1">
                <div class="dpt_title">
                    <h2>심장병 합병증 관리 및 노령견 내과 진료</h2>
                </div>
                <div class="dpt_text">
                    <p>심장병 환자는 대부분 노령견이고 신부전 췌장염과 같은 많은 전신 합병증을 가지고 있습니다. 
                       저희는 이러한 내과 질환에 대해서 예방, 진단, 치료, 관리 프로그램을 시행하고 있습니다.
                    </p>
                </div>
            </div>
            <div class="dpt1">
                <div class="dpt_title">
                    <h2>고양이 심장병 진료</h2>
                </div>
                <div class="dpt_text">
                    <p>안타깝게도 많은 고양이들이 심장병을 가지고 있습니다. 
                        개와 다르게 고양이는 진단과 치료에 있어 수의사의 많은 지식, 경험, 그리고 애정이 필요합니다. 
                        무엇보다도 고양이가 진단과 치료 과정에 스트레스를 받지 않도록 
                        최대한 안정된 상태에서 검사와 치료를 받게 해주는 것이 중요합니다.
                    </p>
                </div>
            </div>
            <div class="dpt1">
                <div class="dpt_title">
                    <h2>고양이 혈전 관리</h2>
                </div>
                <div class="dpt_text">
                    <p>고양이에서 혈전은 매우 치명적 입니다. 
                       따라서 최대한 빨리 전문적인 진료를 받음으로써 사망률을 낮추고 삶의 질을 높이는 것이 좋습니다.
                    </p>
                </div>
            </div>
            <div class="dpt1">
                <div class="dpt_title">
                    <h2>부정맥 전문 진단 치료 48시간 홀터 모니터 검사</h2>
                </div>
                <div class="dpt_text">
                    <p>국내 최고의 부정맥 진단 장비를 바탕으로 
                        사람 대학병원과 동등하거나 버금가는 수준의 부정맥 진단과 치료를 합니다.
                    </p>
                </div>
            </div>
            <div class="dpt1">
                <div class="dpt_title">
                    <h2>말기 질환 환자호스피스 관리</h2>
                </div>
                <div class="dpt_text">
                    <p>안타깝게도 사람도 그렇고 동물도 결국은 사망을 하게 됩니다. 의학적인 치료로 회복이 불가능한 환자의 경우 
                        고통 없이 보호자와 행복한 시간을 보내고 편하게 떠나는 것 또한 매우 중요합니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("footer") %>